:root {
  --orange: #ff9a30;
  --red: #ec323f;
  --smoke: whitesmoke;
  --black: #17171f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--smoke);
  color: var(--black);
}

.navbar,
.hero,
.about,
.portfolio,
.contact {
  padding: 1.4rem 7%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--smoke);
  border-bottom: 1px solid var(--orange);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 1.3rem;
  font-weight: 800;
  color: #ec323f;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--orange);
}

.navbar .navbar-nav a {
  color: var(--orange);
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0 1rem;
  display: inline-block;
}

.navbar .navbar-nav a:hover {
  color: var(--red);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--red);
  /* padding-bottom: 0.5rem; */
  margin-top: 0.5rem;
  transform: scale(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scale(1);
}

.navbar .cta {
  background-color: var(--red);
  padding: 0.5rem 1rem;
  color: var(--smoke);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.hero {
  min-height: 100vh;
  padding: 1.4rem 7%;
}

.hero .content {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20rem;
}

.content .hero-desc p:nth-child(1) {
  color: var(--red);
  font-weight: 600;
  font-size: 2rem;
}

.content .hero-desc h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  color: var(--orange);
}

.content .hero-desc p:nth-child(3) {
  color: var(--black);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.2rem;
}

.content .hero-desc .cta {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--smoke);
  background-color: var(--red);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.content .hero-img {
  flex: 1 0 30rem;
}

.content .hero-img img {
  width: 75%;
}

/* About */
.about {
  display: flex;
  align-items: center;

  min-height: 100vh;
  background-color: var(--red);
}

.about .row {
  display: flex;
  gap: 2rem;
}

.about .row .about-img {
  flex: 1 1 100rem;
}
.about .row .about-img img {
  width: 100%;
  border-radius: 0.5rem;
}

.about .row .about-content {
  flex: 1 1 90rem;
  padding: 0 1rem;
}
.about .row .about-content h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--smoke);
}

.about .row .about-content p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  color: var(--smoke);
  text-align: justify;
  margin: 1rem;
}
.about .row .about-content h3 {
  margin-bottom: 1rem;
  padding: 0 1rem;
  color: var(--smoke);
  font-style: italic;
}

.about .row .about-content .social-media a {
  color: var(--smoke);
  margin: 1rem;
}

/* Portfolio */

.portfolio h2 {
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--red);
  text-align: center;
}

.portfolio .artwork h3 {
  font-size: 2rem;
  color: var(--orange);
  margin-bottom: 1.5rem;
  display: inline-block;
}

.portfolio .artwork h3::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--red);
  /* padding-bottom: 0.5rem; */
  margin-top: 0.5rem;
  transform: scale(1);
  transition: 0.2s linear;
}

.portfolio .artwork .artwork-illustration,
.artwork-Design {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.portfolio .artwork .artwork-illustration img,
.artwork-Design img {
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.portfolio .artwork .artwork-illustration img:hover,
.artwork-Design img:hover {
  transform: scale(1.02);
  transition: 0.7s;
}

.portfolio .view {
  color: var(--orange);
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}

.contact {
  background: var(--red);
  min-height: 100vh;
}
.contact h2 {
  padding-top: 5rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--smoke);
  text-align: center;
}

.contact .contact-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  column-gap: 10rem;
}

.contact .contact-detail form {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--orange);
  padding: 64px 32px;
}

.contact-detail form button {
  border: none;
}

.contact-detail form button:hover {
  cursor: pointer;
}

.contact-detail .form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  margin-top: 32px;
  grid-template-areas:
    "name subject"
    "email phone"
    "message message";
}

#input-name {
  grid-area: name;
}

#input-subject {
  grid-area: subject;
}

#input-email {
  grid-area: email;
}

#input-phone {
  grid-area: phone;
}

#input-message {
  grid-area: message;
}

.form-group .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-group .input-group label {
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: var(--smoke);
}

.form-group .input-group input {
  border: none;
  outline: none;
  background-color: #ec323f;
  border-bottom: 1px solid var(--smoke);
  font-size: 1.5rem;
  color: var(--smoke);
}

.form-group .input-group input:focus {
  border-bottom: 2px solid #ffc108;
}

.contact-detail form .button {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--smoke);
  background-color: var(--orange);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.contact .location h3 {
  color: var(--smoke);
}

.location iframe {
  margin-top: 1rem;
}

::placeholder {
  color: #fff;
}

.footer {
  padding: 1.4rem 7%;
}

.footer p {
  text-align: center;
  color: var(--red);
}
